@model ViewModels.Catalog.Mangas.CategoryAssignRequest

@{
    ViewData["Title"] = "RoleAssign";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid">
    <h1 class="mt-4">Gán mục thể loại</h1>
    <ol class="breadcrumb mb-4">
        <li class="breadcrumb-item"><a href="/">Trang chủ</a></li>
        <li class="breadcrumb-item active">Gán mục thể loại</li>
    </ol>
    <div class="card mb-4">
        <div class="card-header">
            <a class="btn btn-success" asp-action="Index" asp-controller="Manga">Về danh sách</a>
        </div>

        <div class="card-body">
            <form asp-action="CategoryAssign">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="Id" />
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>
                                Mục thể loại
                            </th>
                            <th>
                                Chọn
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @for (var i = 0; i < Model.Categories.Count; i++)
                        {
                            <tr class="form-group">
                                <td>
                                    @Model.Categories[i].Name
                                </td>
                                <td>
                                    <input type="checkbox" asp-for="Categories[i].Selected" />
                                    <input type="hidden" asp-for="Categories[i].Id" />
                                    <input type="hidden" asp-for="Categories[i].Name" />
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
                <div class="form-group">
                    <input type="submit" value="Save" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>
</div>