<div class="colorlib-blog mt-3">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <article class="article-entry">
                    <a href="blog.html" class="blog-img" style="background-image: url('/images/gta5tzd.jpg');"></a>
                    <div class="desc">
                        <p class="meta"><span class="day">14</span><span class="month">Mar</span></p>
                        <p class="admin"><span>Posted by:</span> <span>Noah Henderson</span></p>
                        <h2><a href="blog.html">Openning Branches</a></h2>
                        <p>Even the all-powerful Pointing has no control about the blind texts it is an almost unorthographic life</p>
                    </div>
                </article>
            </div>
            <div class="col-md-4">
                <article class="article-entry">
                    <a href="blog.html" class="blog-img" style="background-image: url('/images/meos.jpg');"></a>
                    <div class="desc">
                        <p class="meta"><span class="day">14</span><span class="month">Mar</span></p>
                        <p class="admin"><span>Posted by:</span> <span>Noah Henderson</span></p>
                        <h2><a href="blog.html">Openning Branches</a></h2>
                        <p>Even the all-powerful Pointing has no control about the blind texts it is an almost unorthographic life</p>
                    </div>
                </article>
            </div>
            <div class="col-md-4">
                <article class="article-entry">
                    <a href="blog.html" class="blog-img" style="background-image: url('/images/mlem.jpg');"></a>
                    <div class="desc">
                        <p class="meta"><span class="day">14</span><span class="month">Mar</span></p>
                        <p class="admin"><span>Posted by:</span> <span>Noah Henderson</span></p>
                        <h2><a href="blog.html">Openning Branches</a></h2>
                        <p>Even the all-powerful Pointing has no control about the blind texts it is an almost unorthographic life</p>
                    </div>
                </article>
            </div>
            <div class="col-md-4">
                <article class="article-entry">
                    <a href="blog.html" class="blog-img" style="background-image: url('/images/meos.jpg');"></a>
                    <div class="desc">
                        <p class="meta"><span class="day">14</span><span class="month">Mar</span></p>
                        <p class="admin"><span>Posted by:</span> <span>Noah Henderson</span></p>
                        <h2><a href="blog.html">Openning Branches</a></h2>
                        <p>Even the all-powerful Pointing has no control about the blind texts it is an almost unorthographic life</p>
                    </div>
                </article>
            </div>
            <div class="col-md-4">
                <article class="article-entry">
                    <a href="blog.html" class="blog-img" style="background-image: url('/images/gta5tzd.jpg');"></a>
                    <div class="desc">
                        <p class="meta"><span class="day">14</span><span class="month">Mar</span></p>
                        <p class="admin"><span>Posted by:</span> <span>Noah Henderson</span></p>
                        <h2><a href="blog.html">Openning Branches</a></h2>
                        <p>Even the all-powerful Pointing has no control about the blind texts it is an almost unorthographic life</p>
                    </div>
                </article>
            </div>
            <div class="col-md-4">
                <article class="article-entry">
                    <a href="blog.html" class="blog-img" style="background-image: url('/images/mlem.jpg');"></a>
                    <div class="desc">
                        <p class="meta"><span class="day">14</span><span class="month">Mar</span></p>
                        <p class="admin"><span>Posted by:</span> <span>Noah Henderson</span></p>
                        <h2><a href="blog.html">Openning Branches</a></h2>
                        <p>Even the all-powerful Pointing has no control about the blind texts it is an almost unorthographic life</p>
                    </div>
                </article>
            </div>
            <div class="col-md-4">
                <article class="article-entry">
                    <a href="blog.html" class="blog-img" style="background-image: url('/images/mlem.jpg');"></a>
                    <div class="desc">
                        <p class="meta"><span class="day">14</span><span class="month">Mar</span></p>
                        <p class="admin"><span>Posted by:</span> <span>Noah Henderson</span></p>
                        <h2><a href="blog.html">Openning Branches</a></h2>
                        <p>Even the all-powerful Pointing has no control about the blind texts it is an almost unorthographic life</p>
                    </div>
                </article>
            </div>
            <div class="col-md-4">
                <article class="article-entry">
                    <a href="blog.html" class="blog-img" style="background-image: url('/images/meos.jpg');"></a>
                    <div class="desc">
                        <p class="meta"><span class="day">14</span><span class="month">Mar</span></p>
                        <p class="admin"><span>Posted by:</span> <span>Noah Henderson</span></p>
                        <h2><a href="blog.html">Openning Branches</a></h2>
                        <p>Even the all-powerful Pointing has no control about the blind texts it is an almost unorthographic life</p>
                    </div>
                </article>
            </div>
            <div class="col-md-4">
                <article class="article-entry">
                    <a href="blog.html" class="blog-img" style="background-image: url('/images/gta5tzd.jpg');"></a>
                    <div class="desc">
                        <p class="meta"><span class="day">14</span><span class="month">Mar</span></p>
                        <p class="admin"><span>Posted by:</span> <span>Noah Henderson</span></p>
                        <h2><a href="blog.html">Openning Branches</a></h2>
                        <p>Even the all-powerful Pointing has no control about the blind texts it is an almost unorthographic life</p>
                    </div>
                </article>
            </div>
        </div>
    </div>
</div>