@using ViewModels.System.Users
@model RegisterRequest
@{
    ViewData["Title"] = "Đăng kí";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@*<!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Page Title - Register</title>
        <environment include="Development">
            <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        </environment>
        <link href="~/css/dc.css" rel="stylesheet" />
        <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/js/all.min.js" crossorigin="anonymous"></script>
    </head>

    <body class="bg-primary">
        <partial name="_Menu" />*@
<div id="layoutAuthentication">
    <div id="layoutAuthentication_content">
        <main>
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-7">
                        <div class="card shadow-lg border-0 rounded-lg mt-5">
                            <div class="card-header"><h3 class="text-center font-weight-light my-4">Create Account</h3></div>
                            <div class="card-body">

                                <form asp-action="Register" asp-controller="Users" method="post">

                                    <div class="form-row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="small mb-1">First Name</label>
                                                <input class="form-control py-4" asp-for="Ten" type="text" placeholder="Enter first name" />
                                                <span asp-validation-for="Ten" class="text-danger"></span>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="small mb-1">Last Name</label>
                                                <input class="form-control py-4" asp-for="Ho" type="text" placeholder="Enter last name" />
                                                <span asp-validation-for="Ho" class="text-danger"></span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="small mb-1">Email</label>
                                        <input class="form-control py-4" asp-for="Email" type="email" placeholder="Enter email address" />
                                        <span asp-validation-for="Email" class="text-danger"></span>
                                    </div>
                                    <div class="form-group">
                                        <label class="small mb-1">Phone Number</label>
                                        <input class="form-control py-4" asp-for="PhoneNumber" type="number" placeholder="Enter phone number" />
                                        <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                                    </div>
                                    <div class="form-group">
                                        <label class="small mb-1">User Name</label>
                                        <input class="form-control py-4" asp-for="UserName" type="text" placeholder="Enter user name" />
                                        <span asp-validation-for="UserName" class="text-danger"></span>
                                    </div>

                                    <div class="form-row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="small mb-1">Password</label>
                                                <input class="form-control py-4" asp-for="Password" type="password" placeholder="Enter password" />
                                                <span asp-validation-for="Password" class="text-danger"></span>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="small mb-1">Confirm Password</label>
                                                <input class="form-control py-4" asp-for="ConfirmPassword" type="password" placeholder="Confirm password" />
                                                <div class="text-danger" asp-validation-summary="ModelOnly"></div>
                                                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                                            </div>
                                        </div>
                                    </div>
                                    <span>@TempData["register"]</span>
                                    <div class="form-group mt-4 mb-0">
                                        <button class="btn btn-primary float-right" type="submit">Register</button>
                                    </div>
                                </form>
                            </div>
                            <div class="card-footer text-center">
                                <div class="small">
                                    <a class="login" asp-area="" asp-controller="Users" asp-action="Login">Have an account? Go to login</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </div>
</div>
@*<footer class="py-4 mt-5" style="background-color:black;">
            <div class="container-fluid">
                <div class="d-flex align-items-center justify-content-between small">
                    <div class="text-white">Copyright &copy; AAA Website 2020</div>
                    <div>
                        <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy Policy</a>
                        &middot;
                        <a href="#">Terms &amp; Conditions</a>
                    </div>
                </div>
            </div>
        </footer>
        <script src="https://code.jquery.com/jquery-3.4.1.min.js" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
        <script src="/js/scripts.js"></script>
    </body>
    </html>*@