<!DOCTYPE html>
<html>
<head>
    <title>W3.CSS Template</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
    <style>
        body, h1, h2, h3, h4, h5 {
            font-family: "Raleway", sans-serif
        }
    </style>
</head>

<body class="w3-light-grey">

    <!-- w3-content defines a container for fixed size centered content,
    and is wrapped around the whole page content, except for the footer in this example -->
    <div class="w3-content" style="max-width:1400px">

        <!-- Grid -->
        <div class="w3-row">

            <!-- Blog entries -->
            <div class="w3-col l8 s12">
                <!-- Blog entry -->
                <div class="w3-card-4 w3-margin w3-white">
                    <img src="https://www.normaeditorial.com/blogmanga/blog/wp-content/uploads/2019/07/slide_KUSANAGI-976x313.jpg" style="height:250px; width:100%" />
                    <div class="w3-container">
                        <h3><b> MIZUHO KUSANAGI, LIÊN QUAN ĐẾN SALV XXV DEL MANGA!</b></h3>
                        <h5> <span class="w3-opacity">Ngày 9 tháng 7 năm 2019</span></h5>
                    </div>

                    <div class="w3-container">
                        <p>
                            Như thường lệ, chúng tôi sẽ cung cấp cho bạn nhiều cơ hội khác nhau để bạn có thể gặp tác giả: trong những ngày làm việc, bạn không chỉ có cơ hội nhận được chữ ký của cô ấy, mà còn tận hưởng kỹ thuật của cô ấy trong lớp học chính hoặc biết cô ấy nghĩ gì trong cuộc họp với các fan Chắc chắn bạn có rất nhiều câu hỏi để hỏi về Yona !
                        </p>
                        <div class="w3-row">
                            <div class="w3-col m8 s12">
                                <p><button class="w3-button w3-padding-large w3-white w3-border"><b>READ MORE »</b></button></p>
                            </div>
                        </div>
                    </div>
                </div>
                <hr>

                <!-- Blog entry -->
                <div class="w3-card-4 w3-margin w3-white">
                    <img src="https://www.normaeditorial.com/blogmanga/blog/wp-content/uploads/2019/07/slide_OHKUBO-976x313.jpg" style="height:250px; width:100%" />
                    <div class="w3-container">
                        <h3><b>ATSUSHI OHKUBO, HƯỚNG DẪN CHO MANGA BARCELONA!</b></h3>
                        <h5> <span class="w3-opacity">Ngày 9 tháng 7 năm 2019</span></h5>
                    </div>

                    <div class="w3-container">
                        <p>
                            Hội chợ Manga XXV Barcelona này sẽ rất nóng! Và có phải một trong những vị khách của chúng tôi không gì khác hơn là Atsushi Ohkubo, tác giả của Hỏa lực !
                        </p>
                        <div class="w3-row">
                            <div class="w3-col m8 s12">
                                <p><button class="w3-button w3-padding-large w3-white w3-border"><b>READ MORE »</b></button></p>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- END BLOG ENTRIES -->
            </div>

            <!-- Introduction menu -->
            <div class="w3-col l4">
                <!-- About Card -->
                <div class="w3-card w3-margin w3-margin-top">
                </div><hr>

                <!-- Posts -->
                <div class="w3-card w3-margin">
                    <div class="w3-container w3-padding">
                        <h4>Popular Posts</h4>
                    </div>
                    <ul class="w3-ul w3-hoverable w3-white">
                        <li class="w3-padding-16">
                            <img src="https://manga.tokyo/wp-content/uploads/2020/01/5e29b044d5054-450x320.jpg" style="width:60px; height:50px" />
                            <span class="w3-large">Kakushigoto giới thiệu nhân vật chính thông qua hình ảnh và đoạn giới thiệu mới</span><br>
                        </li>
                        <li class="w3-padding-16">
                            <img src="https://resize.cdn.otakumode.com/full/u/92d4058d1feb493bad23cb234205c2d9.jpg" style="width:60px; height:50px" />
                            <span class="w3-large">Live Action One Piece Đến với Netflix!</span><br>
                        </li>
                        <li class="w3-padding-16">
                            <img src="https://resize.cdn.otakumode.com/full/u/3e0afdc46e1446aba46dca390e47b752.jpg" style="width:60px; height:50px" />
                            <span class="w3-large">Manga nổi tiếng Dansai Bunri no Crime Edge Để có được Anime vào mùa xuân </span><br>
                        </li>
                    </ul>
                </div>
                <hr>

                <!-- Labels / tags -->
                <div class="w3-card w3-margin">
                    <div class="w3-container w3-padding">
                        <h4>Tags</h4>
                    </div>
                    <div class="w3-container w3-white">
                        <p>
                            <span class="w3-tag w3-black w3-margin-bottom">Travel</span> <span class="w3-tag w3-light-grey w3-small w3-margin-bottom">New York</span> <span class="w3-tag w3-light-grey w3-small w3-margin-bottom">London</span>
                            <span class="w3-tag w3-light-grey w3-small w3-margin-bottom">IKEA</span> <span class="w3-tag w3-light-grey w3-small w3-margin-bottom">NORWAY</span> <span class="w3-tag w3-light-grey w3-small w3-margin-bottom">DIY</span>
                            <span class="w3-tag w3-light-grey w3-small w3-margin-bottom">Ideas</span> <span class="w3-tag w3-light-grey w3-small w3-margin-bottom">Baby</span> <span class="w3-tag w3-light-grey w3-small w3-margin-bottom">Family</span>
                            <span class="w3-tag w3-light-grey w3-small w3-margin-bottom">News</span> <span class="w3-tag w3-light-grey w3-small w3-margin-bottom">Clothing</span> <span class="w3-tag w3-light-grey w3-small w3-margin-bottom">Shopping</span>
                            <span class="w3-tag w3-light-grey w3-small w3-margin-bottom">Sports</span> <span class="w3-tag w3-light-grey w3-small w3-margin-bottom">Games</span>
                        </p>
                    </div>
                </div>

                <!-- END Introduction Menu -->
            </div>

            <!-- END GRID -->
        </div><br>

        <!-- END w3-content -->
    </div>
</body>
</html>