
@{
    ViewData["Title"] = "About";
}
<div id="colorlib-contact">
    <div class="container">
        <div class="row">
            <div class="col-md-10 col-md-offset-1 mt-4">
                <h2>Giới thiệu về FMN</h2>
                <br />
                <div>
                    <p>FMN Việt Nam là một sàn giao dịch thương mại điện tử, cung cấp truyện tranh từ nhiều thể loại khác nhau.</p>
                    <p>FMN hứa hẹn sẽ là một sàn giao dịch truyện tranh lớn mạnh.</p>

                </div>
            </div>
        </div>
    </div>
</div>