@using ViewModels.Catalog.Cart
@model List<CartItem>

@{
    ViewData["Title"] = "Thanh toán";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="leftcolumncart">

    <div class="colorlib-shop">

        <div class="card" style=" padding: 10px;">
            <div class="row">
                <div class="col-md-12 ">
                    <h2>Thông tin giao hàng</h2>
                    <br />
                    <div class="row">
                        <div class="col-md-12 ">
                            <form asp-action="Payment" asp-controller="Orders" method="post">
                                <div class="form-group">
                                    <label class="small mb-1">Họ tên</label>
                                    <input class="form-control py-4" name="NguoiNhan" type="text" placeholder="Nhập họ tên" />
                                </div>
                                <div class="form-group">
                                    <label class="small mb-1">Điện thoại</label>
                                    <input class="form-control py-4" name="SDT" type="number" placeholder="Nhập số điện thoại" />
                                </div>
                                @*<div class="form-group">
                                    <select name="provinceId" onchange="this.form.submit()" asp-items="@ViewBag.Provinces" class="form-control col-md-3">
                                        <option>--Thành Phố--</option>
                                    </select>
                                </div>*@
                                <div class="form-group">
                                    <label class="small mb-1">Địa chỉ</label>
                                    <input class="form-control py-4" name="DiaChiNhan" type="text" placeholder="Nhập địa chỉ" />
                                </div>
                                <div class="form-group">
                                    <label class="small mb-1">Email</label>
                                    <input class="form-control py-4" name="Email" type="email" placeholder="Nhập email" />
                                </div>
                                <div class="form-group">
                                    <div class="divider">
                                        <div class="or payment"><h4>Hình thức giao hàng:</h4></div>
                                    </div>
                                    <div class="radio">
                                        <md-radio-group>
                                            <md-radio-button class="md-warn" name="rdoPayment" value="true"> Thời gian giao hàng dự kiến 2 – 4 ngày (không tính thứ bảy, Chủ nhật) </md-radio-button>
                                        </md-radio-group>
                                    </div>
                                    <div class="divider">
                                        <div class="or payment"><h4>Phương thức thanh toán:</h4></div>
                                    </div>
                                    <div class="radio">
                                        <md-radio-group>
                                            <md-radio-button class="md-warn" name="rdoPayment" value="true"> Thanh toán tiền mặt khi nhận hàng </md-radio-button>
                                        </md-radio-group>
                                    </div>
                                    @*<div class="radio">
                                            <md-radio-group>
                                                <md-radio-button class="md-warn" name="rdoPayment" value="12"> Thanh toán bằng thẻ quốc tế Visa, Master, JCB </md-radio-button>
                                            </md-radio-group>
                                        </div>*@
                                </div>
                                <div class="form-group d-flex align-items-center justify-content-between mt-4 mb-0">
                                    <button class="btn btn-primary" type="submit">Thanh toán</button>
                                    <a asp-controller="Cart" asp-action="PaypalCheckout">
                                        <img src="~/images/paypal_checkout.gif" height="100" />
                                    </a>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="rightcolumncart">
    <div class="card">
        <div class="text-center">

            <div class="order bg-light p-2">
                <h4>
                    Giỏ hàng <span style=" font-size: 14px;">( @Model.Sum(m => m.SoLuong) )</span>
                </h4>
            </div>
            <div class="sub">
                <p><span>Tổng tiền:</span> <span> @Model.Sum(m => m.ThanhTien).ToString("#,##0").Replace(',', '.')<span class="cur">₫</span></span></p>
                <p><span>Phí vận chuyển:</span> <span>Miễn phí</span></p>
                <p><span>Khuyến mãi:</span> <span> 00.00<span class="cur">₫</span></span></p>
            </div>
            <hr />
            <div class="grand-total">
                <div class="order bg-light p-2">
                    <h4>
                        Danh sách sản phẩm
                    </h4>
                </div>
                <ul class="display-tc" style="list-style:none;">
                    @foreach (CartItem item in Model)
                    {
                        <li>@item.TenManga</li>
                    }
                </ul>
            </div>
        </div>
    </div>
</div>