@{
    ViewData["Title"] = "Request Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="leftcolumncart">

    <div class="colorlib-shop">

        <div class="card">
            <div class="row">
                <div class="col-md-12 ">
                    <div class="alert alert-danger">
                        Vui lòng đăng nhập để mua hàng!!!
                    </div>
                    <a asp-action="Login" asp-controller="Users"><p>Tới trang đăng nhập</p></a>
                </div>
            </div>
        </div>
    </div>
</div>