
<div class="card" style="padding: 10px;">
    <div class="coupon-box">
        <div class="title"><strong>Phiếu ưu đãi</strong></div>
        <hr />
        <div class="coupon-code">
            <input style="width:230px" name="discountcouponcode" id="discountcouponcode" type="text" class="discount-coupon-code" placeholder="Mã ưu đãi">
            <input style="width:230px; margin-top:15px" type="submit" name="applydiscountcouponcode" id="applydiscountcouponcode" value="Áp dụng" class="button-2 apply-discount-coupon-code-button">
        </div>
    </div>
</div>