<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Trang quản trị</title>
    
</head>
<body class="hold-transition skin-blue sidebar-mini">
    <div>
        @RenderBody()
    </div>
   
    @RenderSection("Scripts", required: false)
</body>
</html>
