@{
    ViewData["Title"] = "Manga";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="colorlib-shop">
    <div class="container">
        <div class="leftcolumn">
            <div class="card">
                <h3 style="border-bottom:solid 1px;">Danh Mục</h3>
                <div class="danhmucdayne">
                    <a>Manga Tiếng Việt</a>
                </div>
                <div class="danhmucdayne">
                    <a>Manga Tiếng Nhật</a>
                </div>
            </div>
            <div class="card">
                <h3>Thể Loại</h3>
                <hr />
                <p>Hài Hước</p>
                <p>Hành Động</p>
            </div>
            <div class="card">
                <h3>Follow Me</h3>
                <p>Facebook</p>
                <p>YouTube</p>
            </div>
        </div>
        <div class="rightcolumn">
            <div class="col-md-10 col-md-push-2 mt-4">
                <div class="row row-pb-lg">
                    <div class="col-md-4 text-center">
                        <div class="product-entry">
                            <div class="product-img" style="background-image: url('/images/mlem.jpg');">
                                <p class="tag"><span class="sale">Sale</span></p>
                                <div class="cart">
                                    <p>
                                        <span class="addtocart"><a href="cart.html"><i class="fas fa-shopping-cart"></i></a></span>
                                        <span><a href="product-detail.html"><i class="fas fa-eye"></i></a></span>
                                        <span><a href="#"><i class="fas fa-heart"></i></a></span>
                                        <span><a href="add-to-wishlist.html"><i class="fas fa-signal"></i></a></span>
                                    </p>
                                </div>
                            </div>
                            <div class="desc">
                                <h3><a href="product-detail.html">Floral Dress</a></h3>
                                <p class="price"><span>$199.00</span> <span class="sale">$300.00</span> </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 text-center">
                        <div class="product-entry">
                            <div class="product-img" style="background-image: url('/images/mlem.jpg');">
                                <p class="tag"><span class="sale">Sale</span></p>
                                <div class="cart">
                                    <p>
                                        <span class="addtocart"><a href="cart.html"><i class="fas fa-shopping-cart"></i></a></span>
                                        <span><a href="product-detail.html"><i class="fas fa-eye"></i></a></span>
                                        <span><a href="#"><i class="fas fa-heart"></i></a></span>
                                        <span><a href="add-to-wishlist.html"><i class="fas fa-signal"></i></a></span>
                                    </p>
                                </div>
                            </div>
                            <div class="desc">
                                <h3><a href="product-detail.html">Floral Dress</a></h3>
                                <p class="price"><span>$199.00</span> <span class="sale">$300.00</span> </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 text-center">
                        <div class="product-entry">
                            <div class="product-img" style="background-image: url('/images/mlem.jpg');">
                                <p class="tag"><span class="new">New</span></p>
                                <div class="cart">
                                    <p>
                                        <span class="addtocart"><a href="cart.html"><i class="fas fa-shopping-cart"></i></a></span>
                                        <span><a href="product-detail.html"><i class="fas fa-eye"></i></a></span>
                                        <span><a href="#"><i class="fas fa-heart"></i></a></span>
                                        <span><a href="add-to-wishlist.html"><i class="fas fa-signal"></i></a></span>
                                    </p>
                                </div>
                            </div>
                            <div class="desc">
                                <h3><a href="product-detail.html">Floral Dress</a></h3>
                                <p class="price"><span>$300.00</span></p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 text-center">
                        <div class="product-entry">
                            <div class="product-img" style="background-image: url('/images/meos.jpg');">
                                <div class="cart">
                                    <p>
                                        <span class="addtocart"><a href="cart.html"><i class="fas fa-shopping-cart"></i></a></span>
                                        <span><a href="product-detail.html"><i class="fas fa-eye"></i></a></span>
                                        <span><a href="#"><i class="fas fa-heart"></i></a></span>
                                        <span><a href="add-to-wishlist.html"><i class="fas fa-signal"></i></a></span>
                                    </p>
                                </div>
                            </div>
                            <div class="desc">
                                <h3><a href="product-detail.html">Floral Dress</a></h3>
                                <p class="price"><span>$300.00</span></p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 text-center">
                        <div class="product-entry">
                            <div class="product-img" style="background-image: url('/images/gta5tzd.jpg');">
                                <p class="tag"><span class="sale">Sale</span></p>
                                <div class="cart">
                                    <p>
                                        <span class="addtocart"><a href="cart.html"><i class="fas fa-shopping-cart"></i></a></span>
                                        <span><a href="product-detail.html"><i class="fas fa-eye"></i></a></span>
                                        <span><a href="#"><i class="fas fa-heart"></i></a></span>
                                        <span><a href="add-to-wishlist.html"><i class="fas fa-signal"></i></a></span>
                                    </p>
                                </div>
                            </div>
                            <div class="desc">
                                <h3><a href="product-detail.html">Floral Dress</a></h3>
                                <p class="price"><span>$199.00</span> <span class="sale">$300.00</span> </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 text-center">
                        <div class="product-entry">
                            <div class="product-img" style="background-image: url('/images/meos.jpg');">
                                <p class="tag"><span class="new">New</span></p>
                                <div class="cart">
                                    <p>
                                        <span class="addtocart"><a href="cart.html"><i class="fas fa-shopping-cart"></i></a></span>
                                        <span><a href="product-detail.html"><i class="fas fa-eye"></i></a></span>
                                        <span><a href="#"><i class="fas fa-heart"></i></a></span>
                                        <span><a href="add-to-wishlist.html"><i class="fas fa-signal"></i></a></span>
                                    </p>
                                </div>
                            </div>
                            <div class="desc">
                                <h3><a href="product-detail.html">Floral Dress</a></h3>
                                <p class="price"><span>$300.00</span></p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 text-center">
                        <div class="product-entry">
                            <div class="product-img" style="background-image: url('/images/mlem.jpg');">
                                <div class="cart">
                                    <p>
                                        <span class="addtocart"><a href="cart.html"><i class="fas fa-shopping-cart"></i></a></span>
                                        <span><a href="product-detail.html"><i class="fas fa-eye"></i></a></span>
                                        <span><a href="#"><i class="fas fa-heart"></i></a></span>
                                        <span><a href="add-to-wishlist.html"><i class="fas fa-signal"></i></a></span>
                                    </p>
                                </div>
                            </div>
                            <div class="desc">
                                <h3><a href="product-detail.html">Floral Dress</a></h3>
                                <p class="price"><span>$300.00</span></p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 text-center">
                        <div class="product-entry">
                            <div class="product-img" style="background-image: url('/images/meos.jpg');">
                                <p class="tag"><span class="new">New</span></p>
                                <div class="cart">
                                    <p>
                                        <span class="addtocart"><a href="cart.html"><i class="fas fa-shopping-cart"></i></a></span>
                                        <span><a href="product-detail.html"><i class="fas fa-eye"></i></a></span>
                                        <span><a href="#"><i class="fas fa-heart"></i></a></span>
                                        <span><a href="add-to-wishlist.html"><i class="fas fa-signal"></i></a></span>
                                    </p>
                                </div>
                            </div>
                            <div class="desc">
                                <h3><a href="product-detail.html">Floral Dress</a></h3>
                                <p class="price"><span>$300.00</span></p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 text-center">
                        <div class="product-entry">
                            <div class="product-img" style="background-image: url('/images/mlem.jpg');">
                                <p class="tag"><span class="new">New</span></p>
                                <div class="cart">
                                    <p>
                                        <span class="addtocart"><a href="cart.html"><i class="fas fa-shopping-cart"></i></a></span>
                                        <span><a href="product-detail.html"><i class="fas fa-eye"></i></a></span>
                                        <span><a href="#"><i class="fas fa-heart"></i></a></span>
                                        <span><a href="add-to-wishlist.html"><i class="fas fa-signal"></i></a></span>
                                    </p>
                                </div>
                            </div>
                            <div class="desc">
                                <h3><a href="product-detail.html">Floral Dress</a></h3>
                                <p class="price"><span>$300.00</span></p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <ul class="pagination">
                            <li class="disabled"><a href="#">&laquo;</a></li>
                            <li class="active"><a href="#">1</a></li>
                            <li><a href="#">2</a></li>
                            <li><a href="#">3</a></li>
                            <li><a href="#">4</a></li>
                            <li><a href="#">&raquo;</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>