@model ViewModels.Catalog.Theloai.TheloaiCreateRequest

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid">
    <h1 class="mt-4">Tạo mới thể loại</h1>
    <ol class="breadcrumb mb-4">
        <li class="breadcrumb-item"><a href="/">Trang chủ</a></li>
        <li class="breadcrumb-item active">Tạo mới thể loại</li>
    </ol>
    <div class="card mb-4">
        <div class="card-header">
            <a class="btn btn-success" asp-action="Index" asp-controller="Theloai">Về danh sách</a>
        </div>

        <div class="card-body">
            <div class="col-md-4">
                <form asp-action="Create">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="TenTL" class="control-label"></label>
                        <input asp-for="TenTL" class="form-control" />
                        <span asp-validation-for="TenTL" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Meta" class="control-label"></label>
                        <input asp-for="Meta" class="form-control" />
                        <span asp-validation-for="Meta" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Thutu" class="control-label"></label>
                        <input asp-for="Thutu" class="form-control" />
                        <span asp-validation-for="Thutu" class="text-danger"></span>
                    </div>
                    <div class="form-group form-check">
                        <label class="form-check-label">
                            <input class="form-check-input" asp-for="Anhien" /> @Html.DisplayNameFor(model => model.Anhien)
                        </label>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Create" class="btn btn-primary" />
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>