@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LayoutTest.cshtml";
}

@section Scripts{

    <script>
        var app = angular.module('myApp', ['chart.js']);
        app.controller('myCtrl', function ($scope, $filter, $http) {
            $scope.tabledata = [];
            $scope.labels = [];
            $scope.series = ['Doanh số'];

            $scope.chartdata = [];
            function getStatistic() {
                var config = {
                    param: {
                        //mm/dd/yyyy
                        fromDate: '01/01/2020',
                        toDate: '01/01/2021'
                    }
                }
                $http.get('/statistic/revenue?fromDate=' + config.param.fromDate + "&toDate=" + config.param.toDate).then(function (response) {
                    $scope.tabledata = response.data;
                    var labels = [];
                    var chartData = [];
                    var revenues = [];
                    $.each(response.data, function (i,item) {
                        labels.push($filter('date')(item.date, 'dd/MM/yyyy'));
                        revenues.push(item.revenues);
                    });
                    chartData.push(revenues);

                    $scope.chartdata = chartData;
                    $scope.labels = labels;
                }, function (response) {
                    //notificationService.displayError('Không thể tải dữ liệu');
                });
            }
            getStatistic();
        });
    </script>

}
<p>Layout Test.</p>

<div ng-app="myApp" ng-controller="myCtrl">
    <div class="row">
        <!-- Left col -->
        <section class="col-lg-7">
            <!-- Custom tabs (Charts with tabs)-->
            <div class="nav-tabs-custom">
                <!-- Tabs within a box -->
                <ul class="nav nav-tabs pull-right">
                    <li class="active"><a href="#revenue-chart" data-toggle="tab">Doanh thu</a></li>
                </ul>
                <div class="tab-content no-padding">
                    <!-- Morris chart - Sales -->
                    <canvas id="line" class="chart chart-line"
                            chart-data="chartdata" chart-labels="labels" chart-series="series"></canvas>
                </div>
            </div><!-- /.nav-tabs-custom -->

        </section><!-- /.Left col -->
        <!-- right col (We are only adding the ID to make the widgets sortable)-->
        <section class="col-lg-5">
            <!-- Map box -->
            <div class="box box-solid">
                <div class="box-header">
                    <!-- tools box -->
                    <i class="fa fa-map-marker"></i>
                    <h3 class="box-title">
                        Dữ liệu thống kê
                    </h3>
                </div>
                <div class="box-body">

                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <td>Ngày</td>
                                <td>Doanh số</td>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="item in tabledata">
                                <td>
                                    {{item.date | date}}
                                </td>
                                <td>
                                    {{item.revenues | number}}
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div><!-- /.box-body-->
                <div class="box-footer no-border">
                </div>
            </div>
        </section><!-- right col -->
    </div>
</div>

